@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{box-sizing: border-box;}

body{
  font-family: 'Noto Sans KR', sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
}

/* ----------->> header <<----------- */

header{
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  position:fixed;
	z-index:1000;
}
header h1{
	text-align: center;
}   
header h1 img{
	width:140px;
	margin-top: 15px;
	margin-right: 17px;
} 

/* Trigger ///////////////*/
.trigger {
  /* border: 1px solid red; */
  width: 40px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 20px;
  cursor: pointer;
  z-index: 100;
}
.trigger span{
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
	border-radius: 35px;
  transition: 0.3s;
}
.trigger span:nth-child(1){top: 0;}
.trigger span:nth-child(2){top: 50%;}
.trigger span:nth-child(3){top: 100%;}

/* jQuery 에서 trigger클릭시 바뀌는 부분 */
.trigger.active span:nth-child(1){top: 50%;transform: rotate(45deg);}
.trigger.active span:nth-child(2){opacity: 0;}
.trigger.active span:nth-child(3){top: 50%;transform: rotate(-45deg);}


/* Menu ///////////////*/
.gnb_list{display: none;}
.gnb_list{	
	position:absolute;
	top:100%;
	width:100%;
  height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
}
.gnb_list .main:first-child{border-top:2px solid #faebcd;}
.gnb_list .main{
  padding: 15px 0;
  border-bottom:1px solid #e8e8e8;
}
.gnb_list .main a{
	display:block; 
	font-size:16px; 
	font-size:1rem; 
	color:#fff; 
	text-transform:uppercase;
	text-align:center;
	letter-spacing: 1;
}
.gnb_list>.main>a:after { 
  content: "\f107";
  font-family: fontawesome;
  float: right;
	color: #fff;
	position: absolute;
	right: 40px;
}
.gnb_list>.main>a.uparrow:after {  
  content: "\f106";
  font-family: fontawesome;
  float: right;
	color: #fff;
	position: absolute;
}

.sub{display: none;}
.sub>li{
	height: 40px;
}
.sub>li>a{
	display: block;
	padding: 20px;
	font-size: 14px;
}
.gnb_list .main a:hover{color:#faebcd}



/* Main */
#main{
  width: 100%;
  max-width: 100%;
  padding-top: 60px;
}
.wedding_visual{
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 400px;
  background: url(../image/main_bg02.jpg) no-repeat center center;
  background-size: cover;
  background-position: fixed;
  text-align: center;
}
.visual_text{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visual_text h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #faebcd;
  text-transform: uppercase;
}
.visual_text h2{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-size:30px;
	font-size:1.875rem;
  padding-bottom: 30px;
  color: #fff;
  text-transform: capitalize;
}
.visual_text p{
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  line-height: 30px;
}

#tabmenu>h1{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
	font-size:30px;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
	padding-top:50px;
	color:#faebcd;
	font-weight:400;
}
#tabmenu>h2{
  font-size: 20px;
  font-size: 1.250rem;
  color: #fff;
  font-weight: 400;
  padding-bottom: 40px;

}
#tabmenu{
	width: 100%;
  max-width: 100%;
  text-align:center;
  background: #202020;
}
.tab{
	display: flex;
	justify-content: center;
  padding-bottom: 30px;
}
.tab li{
	width:110px;
	height:40px;
  border:1px solid #d3bca1;
	font-size:13px;
  font-size: 0.813rem;
	color:#faebcd;
	font-weight:400;
  text-align:center;
  line-height:40px;	
  text-transform: capitalize;
	cursor: pointer;
}
.tab li.active{  /*현재 선택된 탭메뉴*/
	background:#faebcd;
	color:#333;
	border:1px solid #928676;
	font-weight:500;
}

.panel{
  width: 100%;
	color:#fff;
	font-size:14px;
	line-height:25px;
}
.panel>li{display: none;}
.panel>li.active{display: block;}
.gallery{ 
	position:relative;
  width: 100%;
}
.largeImg li{
  width: 100%;
	display:none;
	top:50px;
}
.largeImg li img{
  width: 100%;
  max-width: 100%;
}
.largeImg li:first-child{display:block;}
.thumbs{
  width:100%;
  padding-top: 50px;
  padding-bottom: 20px;
	display: flex;
  justify-content: center;
	column-gap: 10px;
}
.thumbs li{opacity:0.5;}
.thumbs li:first-child{opacity:1;}
.thumbs li a img{
	width:90px;
	height:80px;
}

.panel .content{
  border: 1px solid #fff;
  margin: 0 auto;
  text-align: center;
}
.panel h1{
  font-size:20px;
	color: #faebcd;
	font-weight:400;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 10px;
}
.panel h2{
  font-size:18px;
  font-weight: 400;
  color:#FFF8EB;
  margin-bottom: 20px;
}
.panel p{
  font-size: 14px;
  font-size: 0.875rem;
}
.panel .box ul{
  display: flex;
  justify-content: center;
  text-align: center;
}
.panel .box ul li{
  width: 150px;
  height: 60px;
  border: 1px solid #faebcd;
  border-radius: 7px;
  margin: 20px auto;
  padding: 5px 0;
}
.panel .box ul li:hover{
  border:1px solid #3a2804;
  background-color: #faebcd;
}
.panel .box ul li:hover>p{
  color: #3a2804;
  font-weight: 400;
}
.panel .box ul li:hover>span{
  color: #63450a;
  font-weight: 300;
  padding-bottom: 10px;
}
.panel .box ul li p{
  font-size: 14px;
  font-weight: 400;
  color: #FFF8EB;
}
.panel .box ul li span{
  font-size: 13px;
  font-weight: 200;
}





#footer{
  text-align: center;
}
.quick_share{
  width: 100%;
  background-color: #27272e;
}
.quick_share p{
  border-bottom: 1px solid #666;
}
.quick_share p img{
  width: 120px;
  padding: 5px 0 10px 0;
}
.quick_share ul{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5px;
  margin-top: 10px;
  align-items: center;
}
.quick_share ul li{
  border: 1px solid #666;
  border-radius: 2px;
  cursor: pointer;
}
.quick_share ul img{
  width: 28px;
  height: 28px;
  padding: 5px;
}
.quick_share ul li:hover{
  border: 1px solid #fff;
}
.quick_link{
  width: 100%;
  padding-top: 10px;
  background-color: #27272e;
}
.quick_link ul{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}
.quick_link ul li{
  flex: 1;
  line-height: 50px;
  border: 1px solid #666;
}
.quick_link ul li:nth-child(2){border-left: none;}
.quick_link ul li:nth-child(2),
.quick_link ul li:nth-child(3){border-right: none;}

.quick_link ul li img{
  margin-top: 10px;
  cursor: pointer;
}
.quick_link ul li a{
  color: #ccc;
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}
.quick_link ul li:hover{
  border: 1px solid #fff;
}
.quick_link ul li:hover a{
  color: #fff;
}






/* -------- footer -------- */
footer{
	width:100%;
	padding-top: 10px;
	background:#27272e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer img{width:120px;}
footer .copyright{
  font-family: 'Noto Sans', sans-serif;
	padding:15px 0;
	font-size:14px; 
	font-size:0.875rem;
  font-weight: 300; 
	color:#e8e8e8;
}
footer .copyright span{
  text-transform: capitalize;
}
footer .copyright b{
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}